body
{
    background-image: url('../images/tapeta.jpg');
    color: #ffffff;


}

.container
{
    padding-left:0%;
}

.nav>li>a
{
    padding: 10px 80px;
}

.navbar-nav>li>a {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}